.about{
    position: absolute;
    height: 94%;
    width: 100%;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    background-color: white;
    z-index: 1000;
}

.windows-titlebar {
      background: linear-gradient(to top, #0077CC, #005599);
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .windows-title {
      color: #fff;
      font-size: 20px;
    }

    .windows-buttons {
      display: flex;
    }

    .windows-button {
      width: 20px;
      height: 20px;
      margin-left: 5px;
      border: 1px solid #000;
      background-color: #ff0000; 
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .about-content{
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    .about-content img{
      height: 500px;
      margin-top: 10px;
      margin-right: 10px;
      object-fit: cover;
    }

    .about-content-para{
      font-size: 25px;
    }
    .timeline-container {
    display: flex;
    flex-direction: column;
    }

    .timeline-item {
      margin: 20px;
      padding: 10px;
      border-left: 2px solid #000000; 
    }

    .timeline-content {
      margin-left: 20px;
    }
